body {
  background: url('styles/blur-background.jpg');
  min-height: 100vh;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  padding-top: 5vh;
}

.App-logo {
  width: 30vw;
  display: inline-block;
  pointer-events: none;
}

.account-address {
  background: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  margin: auto;
  border-radius: 25px;
  margin-top: 20px;
  padding: 6px;
  text-align: right;
  padding-right: 8px;
}

.account-address button {
  background: none;
  border: none;
  font-size: 1em;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
